<div ng-controller="loginController" >
	
	<div ng-if="!userLogged.isLoggedIn" class="ui one column center aligned grid">
	  <div class="column four wide computer six wide tablet fourteen wide mobile form-holder">
	    <h2 class="center aligned header form-head">Login</h2>
	    <div class="ui form">
	      <div class="field">
	        <input type="text" placeholder="login" ng-model="user.login">
	      </div>
	      <div class="field">
	        <input type="password" placeholder="senha" ng-model="user.senha">
	      </div>
	      <div class="field">
	        <input type="submit" value="Login" class="ui button large fluid green" ng-click="login()">
	      </div>
	      <div class="inline field">
	      </div>
	    </div>
		<div ng-show="mensagemErro" class="ui negative message">
		  <p>{{mensagemErro}}</p>
		</div>
	  </div>
	  
	</div>
	
</div>
