<!DOCTYPE html>
<html ng-app="demoApp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>Insert title here</title>
	<script src="webjars/jquery/3.1.0/jquery.min.js"></script>
	<script src="webjars/angularjs/1.5.8/angular.min.js"></script>
	<script src="webjars/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
	<script src="ui-framework/semantic.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="ui-framework/semantic.min.css"></link>
	<link rel="stylesheet" type="text/css" href="ui-framework/icon.min.css"></link>
	<link rel="stylesheet" type="text/css" href="css/estilo.css"></link>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
	
</head>
<body ng-controller="produtoController">
	<header> </header>
	<div class="ui basic segment" >
		<div class="ui grid" >
			<div class="sixteen wide mobile eight wide computer eight wide tablet column" >
				 <div class="ui raised segment">
   					<a class="ui blue ribbon label">Produtos</a>
   					<div class="ui hidden divider"></div>
					<table class="ui selectable celled table font-12">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nome</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-show="produtosPage.totalElements === 0" class="ui negative" ><td colspan="3" >Nenhum registro encontrado</td></tr>
							<tr ng-show="produtosPage.totalElements > 0" ng-repeat="produto in produtosPage.content">
								<td>{{produto.id}}</td>
								<td>{{produto.nome}}</td>
								<td>
									<a href="" ng-click="setProdutoExclusao(produto)" onclick="abrirModal()" data-tooltip="Excluir" data-position="left center"
										class="ui float-right btnExcluir">
										<i class="material-icons md-red" >cancel</i>
									</a>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr ng-show="produtosPage.totalPages > 1" >
								<th colspan="3">
									<div class="ui pagination menu font-12">
								        <a ng-click="findAllProductsPage(produtosPage.number-1)" class="icon item">
								          <i class="left chevron icon"></i>
								        </a>
								        <a ng-repeat="pagina in getPages(produtosPage.totalPages) track by $index"
								        	ng-click="findAllProductsPage($index)"
								        	ng-class=" $index == produtosPage.number ? 'active' : ''"
								        	class="item">{{$index + 1}}</a>
								        <a ng-click="findAllProductsPage(produtosPage.number+1)" class="icon item">
								          <i class="right chevron icon"></i>
								        </a>
							      </div>
								</th>
							</tr>
						</tfoot>
					</table>
   				</div>
			</div>
			<div class="sixteen wide mobile three wide computer three wide tablet column" >
				 <div class="ui raised segment">
   					<a class="ui blue ribbon label">Cadastro de Produto</a>
   					<div class="ui hidden divider"></div>
					<form id="formCadastroProduto" name="formCadastroProduto" class="ui form" >
						<div class="field" >
							<label>Nome *</label>
							<div ng-show="messageError != null" class="ui pointing below red basic label">
						      {{messageError}}
						    </div>
							<input type="text" placeholder="Nome" ng-model="produto.nome" />
						</div>
						<div class="text-align-right" >
							<button ng-click="limparCampos()"
								class="ui button font-12">
								Limpar
							</button>
							<button ng-click="save()" type="submit"
								class="ui inverted green animated button font-12">
								  <div class="hidden content">
								    <i class="material-icons md-18">add_circle_outline</i>
								  </div>
								  <div class="visible content">Adicionar</div>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div id="modalConfirmacao" class="ui small basic modal">
			<i class="close icon"></i>
			<div class="ui icon header">
				<i class="trash icon"></i>
				<p class="blue">Confirmação</p>
			</div>
			<div class="ui centered">
				<p>Tem certeza que deseja excluir o registro?</p>
			</div>
			<div class="actions">
				<div class="ui cancel red basic inverted  button">
					<i class="remove icon"></i> Não
				</div>
				<div ng-click="del()" class="ui ok green inverted button">
					<i class="checkmark icon"></i> Sim
				</div>
			</div>
		</div>
	</div>
		

	<!-- Modules -->
	<script src="app.js"></script>

	<!-- Services -->
	<script src="usuario/UsuarioService.js"></script>
	<script src="produto/ProdutoService.js"></script>

	<!-- Controllers -->
	<script src="usuario/UsuarioController.js"></script>
	<script src="produto/ProdutoController.js"></script>
	
	<script type="text/javascript">

			function abrirModal() {
				$('#modalConfirmacao').modal('show');
			}
	
	</script>
	
</body>
</html>