<div ng-controller="consultaFornecedorController" class="ui basic segment" >
	<h1>{{headerPage}}</h1>
	<div class="ui grid" >
		<div class="sixteen wide mobile twelve wide computer twelve wide tablet column" >
			 <div ng-class="{ 'loading' : tabelaLoading }" 
			 	class="ui raised segment">
  					
  					<h3>Filtro</h3>
  					<div class="ui divider" ></div>
  					<div class="ui grid form" >
	  					<div class="sixteen wide mobile sixteen wide computer sixteen wide tablet column" >
							<div class="field">
							    <label>Nome</label>
							    <input type="text" ng-model="filtroPesquisa.nome" />
							  </div>  					
	  					</div>
	  					<div class="sixteen wide mobile four wide computer four wide tablet column" >
							<div class="field">
							    <label>CPF/CNPJ</label>
							    <input type="text" ng-model="filtroPesquisa.cpfCnpj" />
							  </div>  					
	  					</div>
	  					<div class="sixteen wide mobile four wide computer four wide tablet column" >
							<div class="field">
							    <label>Celular</label>
							    <input type="text" ng-model="filtroPesquisa.celular" ui-number-mask="0"/>
							  </div>  					
	  					</div>
	  					<div class="sixteen wide mobile four wide computer four wide tablet column" >
							<div class="field">
							    <label>Telefone</label>
							    <input type="text" ng-model="filtroPesquisa.telefone" ui-number-mask="0" />
							  </div>  					
	  					</div>
	  					
	  					<div class="text-align-right sixteen wide column">
									<button ng-click="limparFiltroPesquisa()" class="ui button">Limpar</button>
									<btn-pesquisar pesquisa-action="pesquisar()"></btn-pesquisar>
	
						</div>
  					</div>
				 	
  					<div class="ui hidden divider"></div>
  					<div class="ui divider"></div>
					<table class="ui selectable celled striped sortable table">
						<thead>
							<tr>
								<th class="sorted" ng-click="findAllPageFilterBySortBy('id')" >
									ID
									<i ng-if="isDesc('id')" class="material-icons">keyboard_arrow_up</i>
									<i ng-if="isAsc('id')" class="material-icons">keyboard_arrow_down</i>
								</th>
								<th class="sorted" ng-click="findAllPageFilterBySortBy('nome')" >
									Nome
									<i ng-if="isDesc('nome')" class="material-icons">keyboard_arrow_up</i>
									<i ng-if="isAsc('nome')" class="material-icons">keyboard_arrow_down</i>
								</th>
								<th class="sorted" ng-click="findAllPageFilterBySortBy('cpfCnpj')" >
									CPF/CNPJ
									<i ng-if="isDesc('cpfCnpj')" class="material-icons">keyboard_arrow_up</i>
									<i ng-if="isAsc('cpfCnpj')" class="material-icons">keyboard_arrow_down</i>
								</th>
								<th>Celular</th>
								<th>Telefone</th>
								<th>Acões</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-if="fornecedorPage.totalElements === 0" 
								class="ui negative" >
								<td colspan="6" >
									Nenhum registro encontrado
								</td>
							</tr>
							<tr ng-if="fornecedorPage.totalElements > 0" 
								ng-repeat="forn in fornecedorPage.content track by forn.id">
								<td>{{forn.id}}</td>
								<td>{{forn.nome}}</td>
								<td>{{forn.cpfCnpj | brCpfCnpj}}</td>
								<td>{{forn.celular | brPhoneNumber}}</td>
								<td>{{forn.telefone | brPhoneNumber}}</td>
								<td>
									<div class="ui right aligned grid" >
										<div class="sixteen wide column" >
											<a	href="" 
												ng-click="setFornecedorExclusao(forn)" 
												onclick="abrirModalConfirmacao()" 
												data-tooltip="Excluir" 
												data-position="left center"
												class="ui float-right btnExcluir">
												<i class="material-icons md-red" >cancel</i>
											</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr ng-if="fornecedorPage.totalPages > 1" >
								<th colspan="6">
									<div class="ui pagination menu font-12">
								        <a ng-if="fornecedorPage.number > 0"
								        	ng-click="findAllPageFilterBy(fornecedorPage.number-1)" class="icon item">
								          <i class="left chevron icon"></i>
								        </a>
								        <a ng-repeat="pagina in getPages(fornecedorPage.totalPages) track by $index"
								        	ng-click="findAllPageFilterBy($index)"
								        	ng-class=" $index == fornecedorPage.number ? 'active' : ''"
								        	class="item ">{{$index + 1}}</a>
								        <a ng-if="fornecedorPage.number < fornecedorPage.totalPages - 1" 
								        ng-click="findAllPageFilterBy(fornecedorPage.number+1)" class="icon item">
								          <i class="right chevron icon"></i>
								        </a>
							      </div>
								</th>
							</tr>
						</tfoot>
					</table>
					<div class="ui grid" >
						<div class="sixteen wide column" >
							<a ng-href="pdf/test" >
								<img class="ui mini image" style="float: right"  src="img/pdfIcon.png">
							</a>
						</div>
					</div>
  				</div>
		</div>
	</div>
	
	<div id="modalConfirmacao" class="ui small basic modal">
		<div class="ui icon header">
			<i class="trash icon"></i>
			<p class="blue">Confirmação</p>
		</div>
		<div class="ui centered text-align-center">
			<p>Tem certeza que deseja excluir o registro?</p>
		</div>
		<div class="actions">
			<div class="ui cancel red basic inverted  button">
				<i class="remove icon"></i> Não
			</div>
			<div ng-click="del()" class="ui ok green inverted button">
				<i class="checkmark icon"></i> Sim
			</div>
		</div>
	</div>
	
	<script type="text/javascript">

			function abrirModalConfirmacao() {
				$('#modalConfirmacao').modal('show');
			}

	</script>
	
</div>