.font-12 {
	font-size: 12px !important;
}

.font-14 {
	font-size: 14px !important;
}

.float-right {
	float: right;
}

.text-align-right {
	text-align: right;
}

.text-align-left {
	text-align: left;
}

.text-align-center {
	text-align: center;
}

.input-search {
	background: rgb(255, 255, 128) !important;
}

/* material icons SIZE */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* material icons COLOR */
.material-icons.md-red { color: #FF695E; }
.material-icons.md-blue { color: #54C8FF; }
.material-icons.md-yellow { color: #ffdf05; }
.material-icons.md-green { color: #2ECC40; }