<div ng-controller="consultaInsumoController" class="ui basic segment" >
	<h1>Insumos</h1>
	<div class="ui grid" >
		<div class="sixteen wide mobile twelve wide computer twelve wide tablet column" >
			 <div ng-class="{ 'loading' : tabelaInsumosLoading }" 
			 	class="ui raised segment">
  					
  					<h3>Filtro</h3>
  					<div class="ui divider" ></div>
  					<div class="ui grid form" >
	  					<div class="sixteen wide mobile sixteen wide computer sixteen wide tablet column" >
							<div class="field">
							    <label>Nome/Descrição</label>
							    <input type="text" ng-model="filtroPesquisa.nomeOrDescricao" />
							  </div>  					
	  					</div>
	  					<div class="sixteen wide mobile four wide computer four wide tablet column" >
							<div class="field">
							    <label>Quantidade Min.</label>
							    <input type="text" ng-model="filtroPesquisa.quantidadeMin"  ui-number-mask />
							  </div>  					
	  					</div>
	  					<div class="sixteen wide mobile four wide computer four wide tablet column" >
							<div class="field">
							    <label>Quantidade Máx.</label>
							    <input type="text" ng-model="filtroPesquisa.quantidadeMax" ui-number-mask />
							  </div>  					
	  					</div>
	  					<div class="sixteen wide mobile four wide computer four wide tablet column" >
							<div class="field">
							  <label>Medida *</label>
							
							<div>
								<select id="medidaSelection" 
									class="ui fluid dropdown" 
									ng-model="filtroPesquisa.medida"
									value-resettable>
						          <option value="todas" >Todas</option>
					              <option ng-repeat="medida in medidas" 
					              	class="item" 
					              	ng-value="medida.abreviacao">
					              		{{medida.abreviacao}} ({{medida.descricao}})
					              </option>
						      </select>
							</div>
							  </div>  					
	  					</div>
	  					<div class="text-align-right sixteen wide column">
									<button ng-click="limparFiltroPesquisa()" class="ui button">Limpar</button>
									<btn-pesquisar pesquisa-action="pesquisar()"></btn-pesquisar>
	
						</div>
  					</div>
				 	
  					<div class="ui hidden divider"></div>
  					<div class="ui divider"></div>
					<table class="ui selectable celled table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nome</th>
								<th>Descrição</th>
								<th>Quantidade</th>
								<th>Medida</th>
								<th>Acões</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-if="insumosPage.totalElements === 0" 
								class="ui negative" >
								<td colspan="6" >
									Nenhum registro encontrado
								</td>
							</tr>
							<tr ng-if="insumosPage.totalElements > 0" 
								ng-repeat="insumo in insumosPage.content track by insumo.id">
								<td>{{insumo.id}}</td>
								<td>{{insumo.nome}}</td>
								<td>{{insumo.descricao}}</td>
								<td>{{insumo.quantidade | brDecimalNumber}}</td>
								<td>{{insumo.medida.abreviacao}} ({{insumo.medida.descricao}})</td>
								<td>
									<div class="ui right aligned grid" >
										<div class="sixteen wide column" >
											<a	href="" 
												ng-click="setInsumoExclusao(insumo)" 
												onclick="abrirModalConfirmacao()" 
												data-tooltip="Excluir" 
												data-position="left center"
												class="ui float-right btnExcluir">
												<i class="material-icons md-red" >cancel</i>
											</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr ng-if="insumosPage.totalPages > 1" >
								<th colspan="6">
									<div class="ui pagination menu font-12">
								        <a ng-click="findAllInsumosPage(insumosPage.number-1)" class="icon item">
								          <i class="left chevron icon"></i>
								        </a>
								        <a ng-repeat="pagina in getPages(insumosPage.totalPages) track by $index"
								        	ng-click="findAllInsumosPage($index)"
								        	ng-class=" $index == produtosPage.number ? 'active' : ''"
								        	class="item">{{$index + 1}}</a>
								        <a ng-click="findAllInsumosPage(insumosPage.number+1)" class="icon item">
								          <i class="right chevron icon"></i>
								        </a>
							      </div>
								</th>
							</tr>
						</tfoot>
					</table>
					<div class="ui grid" >
						<div class="sixteen wide column" >
							<a ng-href="pdf/test" >
								<img class="ui mini image" style="float: right"  src="img/pdfIcon.png">
							</a>
						</div>
					</div>
  				</div>
		</div>
	</div>
	
	<div id="modalConfirmacao" class="ui small basic modal">
		<div class="ui icon header">
			<i class="trash icon"></i>
			<p class="blue">Confirmação</p>
		</div>
		<div class="ui centered text-align-center">
			<p>Tem certeza que deseja excluir o registro?</p>
		</div>
		<div class="actions">
			<div class="ui cancel red basic inverted  button">
				<i class="remove icon"></i> Não
			</div>
			<div ng-click="del()" class="ui ok green inverted button">
				<i class="checkmark icon"></i> Sim
			</div>
		</div>
	</div>
	
	<script type="text/javascript">

			function abrirModalConfirmacao() {
				$('#modalConfirmacao').modal('show');
			}

	</script>
	
</div>